<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1" />
  <title> Add Operator</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <br />

  <form action="#" th:action="@{/addoperator}" name = "operator" method="post">
    <div class="form-col col-md-10">
      <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <h2 class="text-info">Add New Operator</h2>
      </div>
      <div class="form-row">

        <div class="form-group col-md-6">

          <label for="inputAddress">First Name</label> 
          <input type="text" class="form-control" name="firstName" placeholder="First Name">

        </div>

        <div class="form-group col-md-6">

          <label for="inputAddress">Last Name</label> 
          <input type="text" class="form-control" name="lastName" placeholder="Last Name">

        </div>

      </div>

      <div class="form-group">

        <label for="inputAddress">National No.</label> <input type="text" class="form-control" name="nationalNo"
          placeholder="National No."><br>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label> <input type="email" class="form-control" name="email"
          aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <div class="form-group">
          <label for="exampleInputEmail1">Mobile No.</label> <input type="text" class="form-control" name="mobileNo"
            aria-describedby="emailHelp" placeholder="+963">
        </div>
         <div class="form-group">
          	<label for="exampleInputEmail1">Username </label> <input type="text" class="form-control" name="userName"
            aria-describedby="emailHelp" placeholder="Username..">
            <label for="exampleInputEmail1">password </label> <input type="text" class="form-control" name="password"
            aria-describedby="emailHelp" placeholder="password..">
        </div>
			<label for="exampleInputEmail1"> Select Station </label>
		  <div class="form-group col-md-6">
            <select class="form-control" name="fuelStation" required>
              <option value="0">select station</option>
              <option th:each="station : ${stations}" th:value="${station.stationId}" th:text="${station.stationName}"></option>
            </select>
            
            <small id="emailHelp" class="form-text text-muted">Please choose the nearest location</small>
          </div>
		
		
        <button type="submit" class="btn btn-info">Register</button>
      </div>
    </div>
  </form>
</body>
</html>