<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1" />
  <title> Manage Stations</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">	
</head>


<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="/home">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/addadmin">Admins</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/addoperator">Operators</a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link active" href="/addstation">Stations<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/addvehicle">Vehicles</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/adminreports">Reports</a>
		  </li>
		</ul>
	  </div>
	  <a class="navbar-link text-light disabled" href="#">Sign Out</a>
	</nav>
  <br />
	<div class="form-col col-md-10">
		<div class="row">
			<div class="col-md-8 themed-grid-col shadow-sm p-3 bg-light rounded">
				<div>
					<h3 class="text-info"> Registered Stations:</h3>
					<ul class="list-group list-group list-group-flush" >
						<li class="list-group" th:each="fuelStation : ${allStations}">
							<div class="row">
								<div th:text="${fuelStation}"></div>
								<div class="col-md-3"> <a class="btn btn-success" th:href="@{/addstation(stationId=${fuelStation.stationId})}">Edit</a> 
								- <a class="btn btn-danger" href="@{/delstation(stationId=${fuelStation.stationId})}">Del</a> </div>
							</div>	
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 themed-grid-col shadow-sm p-3 rounded themed-grid-col border border-top-0 border-left-3 border-bottom-0 border-right-0">
				<form action="#" th:action="@{/addstation}" name="station" th:object="${fuelStation}" method="post">
				<div class="form-col ">
				  <div class="shadow-sm p-3 mb-5 bg-white rounded">
					<h3 class="text-info">Add/Edit Station</h3>
				  </div>
				  <div class="form-row">

					<div class="form-group col-md-6">

					  <label for="firstName">Station Name</label> 
					  <input type="text" class="form-control" placeholder="Station Name" th:field="*{stationName}" name="stationName" required>
					  
					</div>

					<div class="form-group col-md-6">

					  <label for="inputAddress">Tel No</label> 
					  <input type="text" class="form-control" placeholder="Tel No" th:field="*{telNo}" name="telNo" required>
						
					</div>
					</div>
					<div class="form-row">
					<div class="form-group col-md-12">
						<label for="identityNo">Choose the address</label>
						<select class="form-control" name="cityAddress" th:field="*{cityAddress}"required>
						  <option value="0">select address</option>
						  <option th:each="address : ${addresses}" th:value="${address.addressId}" th:text="${address.city+' - ' + address.area}"></option>
						</select>
					  </div>
					  </div>
					<div class="form-row">
						<div class="form-group col-md-6">
						  <label for="nationalNo">Tank Capacity</label> 
						  <input type="text" class="form-control" name="tankCapacity" th:field="*{tankCapacity}" placeholder="Tank Capacity" required>
						</div> 
						<div class="form-group col-md-6">
							<label for="identityNo">Operated By</label>
							<select class="form-control" name="operator" th:field="*{operator}" required>
							  <option value="0">select operator</option>
							  <option th:each="operator : ${operators}" th:value="${operator.nationalNo}" th:text="${operator.firstName+' - ' + operator.lastName}"></option>
							</select>
					  </div>
					</div> 
				
					<label for="identityNo">Choose the Distribution Vehicles</label>
					<div class="form-row">
					  <div class="form-group col-md-12">
						<select class="form-control" name="distributionVehicles" th:field="*{distributionVehicles}" required multiple>
						  <option value="0">select vehicle</option>
						  <option th:each="vehicle : ${vehicles}" th:value="${vehicle.vehicleId}" th:text="${vehicle.plateNo+' - ' + vehicle.tankCapacity}"></option>
						</select>
						<small id="emailHelp" class="form-text text-muted">Multiple choice is allowed</small>
					  </div>
					</div>
					
					<button type="submit" class="btn btn-info">Save</button>
					<button type="reset" class="btn btn-secondary">Reset</button>
				  </div>
				</form>
		   </div>
		</div>
	</div>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>  	
</body>
</html>