<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1" />
  <title> Home</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link active" href="/adminhome">Home<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/addadmin">Admins</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/addoperator">Operators</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/addstation">Stations</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/addvehicle">Vehicles</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/adminreports">Reports</a>
		  </li>
		</ul>
	  </div>
	  <a class="navbar-link text-light disabled" href="#">Sign Out</a>
	</nav>
<br/>

<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="card" style="width: 12rem;">
		  <img class="card-img-top" src="./admin.png" alt="Card image cap">
		  <div class="card-body">
			<a href="#" class="btn btn-info card-title">Admins</a>
		  </div>
		</div>
    </div>
	<br/>
    <div class="col-sm">
        <div class="card" style="width: 12rem;">
		  <img class="card-img-top" src="./operator.png" alt="Card image cap">
		  <div class="card-body">
			<a href="#" class="btn btn-info">Operators</a>
		  </div>
		</div>
    </div>
	<br/>
    <div class="col-sm">
        <div class="card" style="width: 12rem;">
		  <img class="card-img-top" src="./station.png" alt="Card image cap">
		  <div class="card-body">
			<a href="#" class="btn btn-info">Feul Stations</a>
		  </div>
		</div>      
    </div>
  </div>
</div>
<br/>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <div class="card" style="width: 12rem;">
		  <img class="card-img-top" src="./vehicle.png" alt="Card image cap">
		  <div class="card-body">
			<a href="#" class="btn btn-info">Vehicles</a>
		  </div>
		</div>
    </div>
	<br/>
    <div class="col-sm">
        <div class="card" style="width: 12rem;">
		  <img class="card-img-top" src="./reports.png" alt="Card image cap">
		  <div class="card-body">
			<a href="#" class="btn btn-info">Reports</a>
		  </div>
		</div>
    </div>
	<br/>
	<div class="col-sm">
        <div class= style="width: 12rem;">
		  
		</div>
    </div>
  </div>
</div>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>  
</body>
</html>
